	<!DOCTYPE html>
	<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<title>Dota2 Win Rate prediction</title>

	</head>
	<body>
		<div class="header"><h1>Dota2 Win Rate Predictor</h1>

		<div id="whole-page" class = "container"> </div>
		</div>
		

		</div>

	</body>
	</html>